.wrapper-block {
  display: flex;
  flex-direction: column;
  height: 290px;
  padding-left: 20px;
  padding-right: 20px;
}

.wrapper-block__slogan {
  font-weight: bold;
  font-size: 21px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.wrapper-block__text {
  font-weight: normal;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}

.link-btn {
  width: auto;
  height: 55px;
  background-color: $light-blue;
  font-weight: bold;
  font-size: 21px;
  text-transform: uppercase;
  text-align: center;
  color: $white;
  line-height: 55px;
  &:hover {
    background-color: #669ec0;
  }
  &:focus {
    background-color: #5496bd;
    color: rgba(256, 256, 256, 0.3);
  }
  &:disabled {
  background-color: #81b3d2;
}
}

@media (min-width: $tablet) {
  .wrapper-block {
    height: 325px;
    padding-left: 155px;
    padding-right: 155px;
  }
  .wrapper-block__slogan--contacts {
    font-size: 30px;
  }
}

@media (min-width: $desktop) {
  .wrapper-block--contacts {
    padding-left: 370px;
    padding-right: 370px;
  }
}