.icon {
  position: absolute;
  &--twitter {
  width: 18px;
  height: 14px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  fill: $white;
  &:focus {
    fill: #3b6984;
    fill-opacity: 30%;
  }
}

  &--fb {
    width: 9px;
    height: 18px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    fill: $white;
    &:focus {
      fill: #3b6984;
      fill-opacity: 30%;
    }
  }

  &--youtube {
    width: 20px;
    height: 14px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    fill: $white;
    &:focus {
      fill: #3b6984;
      fill-opacity: 30%;
    }
  }

  &--htmlacademy {
    width: 27px;
    height: 34px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    &:hover {
      fill: $light-blue;
    }
    &:focus {
      fill-opacity: 30%;
    }
  }

  &--house {
    left: 20px;
    top: 30px;
    width: 39px;
    height: 37px;
    fill: $light-blue;
  }

  &--burger {
    left: 20px;
    top: 30px;
    width: 39px;
    height: 37px;
    fill: $light-blue;
  }

  &--gift {
    left: 20px;
    top: 30px;
    width: 39px;
    height: 37px;
    fill: $light-blue;
  }

  &--logo-mobile {
    z-index: 2;
    left: 50%;
    width: 102px;
    height: 83px;
    transform: translate(-50%);
  }

  &--logo-desktop {
    display: none;
  }

  &--menu {
    top: 15px;
    right: 20px;
    width: 23px;
    height: 21px;
    fill: $light-blue;
  }

  &--like {
    width: 23px;
    height: 21px;
    left: 0;
    top: 65px;
    fill: #b2b2b2;
  }

  &--phone {
    width: 18px;
    height: 18px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &--email {
    width: 16px;
    height: 12px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (min-width: $tablet) {
  .icon {
    &--house {
      position: relative;
      top:0;
      left: 0;
      width: 75px;
      height: 72px;
      margin-top: 60px;
    }

    &--burger {
      position: relative;
      top:0;
      left: 0;
      width: 75px;
      height: 72px;
      margin-top: 60px;
    }

    &--gift {
      position: relative;
      top:0;
      left: 0;
      width: 75px;
      height: 72px;
      margin-top: 60px;
    }

    &--menu {
      display: none;
    }
  }
}

@media (min-width: $desktop) {
  .icon {
    &--logo-desktop {
      z-index: 1;
      display: block;
      width: 188px;
      height: 96px;
      position: absolute;
      left: 50%;
      transform: translate(-50%);
    }
    &--logo-mobile {
      display: none;
    }

    &--like {
      fill: $white;
      right: 55px;
      top: 35px;
      left: auto;
    }
  }
}