.title {
  font-weight: bold;
  font-size: 18px;
  color: $black;
  text-align: center;
  padding: 45px 20px 35px;
  height: 70px;
  text-transform: uppercase;
}

.title__text {
  display: block;
  font-weight: normal;
  font-size: 14px;
  color: $black;
  text-align: center;
  padding-right: 20px;
  padding-left: 20px;
  height: 70px;
  text-transform: uppercase;
}

@media (min-width: $tablet) {
  .title {
    height: 50px;
  }
}