@import "variables";

.wrapper {
  min-width: 320px;
}

@media (min-width: 768px) {
  .wrapper {
    min-width: 768px;
  }
}

@media (min-width: 1280px) {
  .wrapper {
    min-width: 1200px;
    border-left: 40px solid #f2f2f2;
    border-right: 40px solid #f2f2f2;
  }
}

