@import "../variables";
@import "reason";

.container-reason {
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet) {
  .container-reason {
    flex-direction: row;
  }
  .container-reason:nth-of-type(2){
    flex-direction: row-reverse;
  }
}